extends layout

block content
    h1 My Instagram Feed
    div(id="pixlee_container")
        script(type="text/javascript") window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'YSpqW4WEKZuvYEmOmo4R'});Pixlee.addSimpleWidget({widgetId:'29472'});};
        script(src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js")