extends layout

block content
    div(class="jumbotron jumbotron-fluid")
        div(class="text-center")
            h1(class="display-3") What do I want?
            p(class="lead") I want to make machines & play with them.
            p From a young age, I've been fascinated by technology. We didn't always have the newest things. So, it was important that I understand how to get the absolute most out of anything that I did have. The idea that someone or a team actually designed every bit the machines and goods that I use on a daily basis intrigued me deeply. When I moved to Florida, I knew that I had to take my future and who I want to be seriously. I focused on my education and building up my technical and social skills. I'd helped out at a bridal shop and even organized conferences before. The social and business aspect was something that I enjoyed and found that it came easy to me. My original love never left me, though. I want to help build the future.
            strong References are available upon request.

    div(class="card-deck pb-2")
        div(class="card")
            div(class="card-body")
                h5(class="card-title display-4") Proficiencies
                p(class="card-text") Here are some things that I'm pretty good at.
                ul
                    li #[strong General Administration and Professionalism] - I have a talent at fitting in and putting people at ease. This, coupled with my skill at selling and negotiating give me an edge in business environments.
                    li #[strong Project Leadership] - Throughout college, I was often the lead on the different projects that were assigned. Furthermore, I became involved with the college enough that I represented them at various conferences.
                    li #[strong Public Speaking] - Being able to fit in almost anywhere means that I am rarely nervous about speaking in public. When I would give tours of the campus at St. Petersburg College, I made sure to use humor and plain speaking to help prospective students and their parents feel at ease. I also made myself available to answer any lingering questions that may have.
                    li #[strong Training and skill development] - I've taught several classes to young people and have conducted a little over 5000 tutoring hours. I know how to vary my approach to the individual so that they can digest the material better.
                    li #[strong Fast Learner] - I don't know everything. So, it is important for me to be able to get up to speed quickly in order to be effective in whatever position or situation that I find myself. Through a combination of determined study and a focus on practical application, I find that I am able to learn new skills and procedures quickly. It isn't easy but, the key is in finding how things relate to each other.
                    
        
        div(class="card")
            div(class="card-body")
                h5(class="card-title display-4") Skills
                p(class="card-text") These are the tools that I have experience with.
                div
                    b Solidworks - 4 Years
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%")
                    b Inventor - 1 Year
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%")
                    b Fusion 360 - 6 months
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%")
                    b Revit - 1 Year
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%")
                    b 3D Printing - 5 Years
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 70%")
                    b CNC Part Switching - 1 Year
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%")
                    b Management - 5 Years
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 100%")
                    b Logistics & Inventory - 1 Year
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%")
                    b Training / Teaching - 3 Years
                    div(class="progress")
                        div(class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%")
                br
                h5(class="card-title display-4") Certifications
                p(class="card-text") These are the certifications that I currently have.
                ul
                    li #[strong Certified Solidworks Associate] - Currently training for my Professional.
                    li #[strong Engineering Technology Support Certification] - From Saint Petersburg College
                    li #[strong Computer Aided Design & Drafting Certification] - From Saint Petersburg College
                    li #[strong Cum Laude] - Graduated Cum Laude from Saint Petersburg College
                    li #[strong Lean Six Sigma] - From The People of Manufacturing
                    li #[strong Basic Life Support] - From the American Heart Association
                    li #[strong First Aid] - From the American Heart Association
                    li #[strong Blood Born Virus Awareness] - From the American Heart Association
    
    div(class="card-deck")
        div(class="card")
            div(class="card-body")
                h5(class="card-title display-4") Experience
                p(class="card-text") Here are some of the places that I've been employed and what I've done.
                ul
                    li #[strong Outerlife Studios] #[i Designer, Game Master, General Manager]: 2019 - Current
                        ul
                            li Open, close, handle transactions, manage customers, and run escape rooms.
                            li Design new props for current escape rooms using 3d printing, Solidworks, and laser engraving.
                            li Represent the company at public events.
                    li #[strong The People of Manufacturing] #[i CAD Designer]: 2016 - 2019
                        ul
                            li Created custom products with Solidworks
                            li Taught fellow employees, customers, and students the techniques used to produce high quality products and designs.
                    li #[strong Florida Polytechnic University] #[i Lab Manager]: 2018 - 2018
                        ul
                            li Managed inventory and product queries
                            li Instructed 10 interns in the use of Solidworks, 3d Printing, and lab administration.
                            li Increased Florida Polytechnic University's printing efficiency by 50%
                    li #[strong Saint Petersburg College] #[i Lab Manager, Tutor]: 2016 - 2018
                        ul
                            li Instructed students in various topics including: laser engraving, Solidworks, Inventor, AutoCad, Wood Working, and more.
                            li Held tours of the campus for prospective students and community liasons.
                            li Was a teacher's aid for Solidworks
                    
        
        div(class="card")
            div(class="card-body")
                h5(class="card-title display-4") Volunteering
                p(class="card-text") I love being involved with my community and have been volunteering since before high school.
                ul
                    li #[strong Dunedin Highschool] #[i Teacher's Assistant]: 2018 - 2019
                        ul
                            li Assisted the students in the set up of their new Makerbot printer.
                            li Taught the class how to operate the printer and the splicing software.
                            li Assisted in the creation of challenges for the robotics team.
                            li Assisted and accompanied the students on a field trip to ValPak.
                    li #[strong Largo Learning Academy] #[i Teacher]: 2016 - 2019
                        ul
                            li Instructed several classes from 3D modelling to physical fitness.
                            li Planned my own curriculum for 4 classes and graded students on their achievements.
                            li Worked closely with parents to ensure their child's success.
                    li #[strong Homeschoolers of Pinellas] #[i 3D Design and Printing Teacher]: 2017 - 2019
                        ul
                            li Taught students how to construct a CR-10 3D printer.
                            li In the design class the students learned the basic 3d modelling skills.
                            li A handful of students from this location used the knowledge that they gained here to help get apprenticeships.
                    li #[strong Saint Petersburg College] #[i Event Representative]: 2016 - 2018
                        ul
                            li I represented the college at events: New Students Welcome, Exploring the SPC Engineering Degree, Tampa's Roboticon, and Tampa's Synapse.
                            li Explained Saint Petersburg College's Engineering programs to interested students.
                            li Displayed the different tools, machines, engravers and printers to inspire and spark student's interest.
                            li Was a teacher's aid for Solidworks
